<html>
<head>
    <title>首页</title>
<#include "include/resource.html"/>
</head>
<body>
<#include "include/header.html"/>
<div class="container">

    <div class="col-xs-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/data/img/1.jpg"  style="height: 300px;width: 100%">
                </div>
                <div class="item">
                    <img src="/data/img/2.jpg"  style="height: 300px;width: 100%">
                </div>
                <div class="item">
                    <img src="/data/img/3.jpg"   style="height: 300px;width: 100%">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;
            </a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;
            </a>
        </div>

    </div>

    <div class="col-xs-3">
        <div class="row">
            <ul class="list-group text-center">
                <li class="list-group-item active">最新公告</li>
            <#list noticeList as item>
                <li class="list-group-item" style="cursor: pointer;"
                    onclick="javascript:location.href = '/notice/${item.id}'">${item.title}</li>
            </#list>
                <li style="cursor: pointer;" class="list-group-item" onclick="javascript:location.href = '/notice/list'">查看更多</li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="bs-example">
            <div class="row" style="margin: 6px">
                <span class="pull-left" style="font-size: 20px">出租信息</span>
                <a class="pull-right" href="/list?type=出租">更多</a>
            </div>

            <div class="row">
            <#list czList as item>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-center" style="height: 52px">${item.title}</h3>
                            <p><span class="text-warning">价格:${item.money}</span><span class="text-success pull-right">联系:${item.phone}</span>
                            </p>
                            <p style="text-align: center"><a href="/detail/${item.id}.do" class="btn btn-primary"
                                                             role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </#list>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="bs-example">
            <div class="row" style="margin: 6px">
                <span class="pull-left" style="font-size: 20px">出售信息</span>
                <a class="pull-right" href="/list?type=出售">更多</a>
            </div>

            <div class="row">
            <#list csList as item>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-center">${item.title}</h3>
                            <p><span class="text-warning">价格:${item.money}</span><span class="text-success pull-right">联系:${item.phone}</span>
                            </p>
                            <p style="text-align: center"><a href="/detail/${item.id}.do" class="btn btn-primary"
                                                             role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </#list>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="bs-example">
            <div class="row" style="margin: 6px">
                <span class="pull-left" style="font-size: 20px">求租信息</span>
                <a class="pull-right" href="/list?type=求租">更多</a>
            </div>

            <div class="row">
            <#list qzList as item>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-center">${item.title}</h3>
                            <p><span class="text-warning">价格:${item.money}</span><span class="text-success pull-right">联系:${item.phone}</span>
                            </p>
                            <p style="text-align: center"><a href="/detail/${item.id}.do" class="btn btn-primary"
                                                             role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </#list>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="bs-example">
            <div class="row" style="margin: 6px">
                <span class="pull-left" style="font-size: 20px">求售信息</span>
                <a class="pull-right" href="/list?type=求售">更多</a>
            </div>

            <div class="row">
            <#list qsList as item>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-center">${item.title}</h3>
                            <p><span class="text-warning">价格:${item.money}</span><span class="text-success pull-right">联系:${item.phone}</span>
                            </p>
                            <p style="text-align: center"><a href="/detail/${item.id}.do" class="btn btn-primary"
                                                             role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </#list>
            </div>
        </div>
    </div>
</div>
</body>
</html>
