
<link href="/themes/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/themes/plugins/kindeditor/themes/default/default.css">
<link href="/themes/css/index.css" rel="stylesheet"/>
<link rel="stylesheet" href="/themes/plugins/font-awesome/css/font-awesome.min.css"/>

<!--[if IE 7]>
<link rel="stylesheet" href="/themes/plugins/font-awesome/css/font-awesome-ie7.min.css"/>
<![endif]-->

<script src="/themes/admin/js/jquery-2.0.3.min.js"></script>
<script src="/themes/plugins/bootstrap/bootstrap.js"></script>
<script src="/themes/plugins/kindeditor/kindeditor-min.js"></script>
<script src="/themes/plugins/kindeditor/lang/zh_CN.js"></script>


<script>
    var errorMsg = "${errorMsg!}";
    if(errorMsg.length != 0){alert(errorMsg);}

</script>